@charset "UTF-8";

:root {
  --btn-size: 30pt;
  --input-bg: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
  --text-shadow: 2px 2px #000A;
  --color-default: #DDD;
  --color-hover: #FFFFA0;
  --color-inset-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  --color-active-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
  --background-color-hover: rgba(100, 100, 255, .45);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: 'Minecraft';
	src: url('../fonts/Minecraft-Regular.ttf') format('truetype');
}

body {
	font-family: 'Minecraft', Arial, sans-serif;
  align-items: center;
  background-color: #2E2117;
  background-image: url('../images/dirt-background.png');
  background-position: center;
  color: var(--color-default);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

button {
  font: inherit;
}

::placeholder,
:placeholder-shown {
  color: var(--color-default);
}

.standard-text{
  color: var(--color-default);
  font: inherit;
  text-align: center;
  text-decoration: none;
}

.link-text {
  align-items: center;
  background: none;
  border: none;
  color: var(--color-default);
  display: flex;
  font: inherit;
  justify-content: center;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.link-text:hover,
::placeholder:hover {
  color: var(--color-hover);
}

.menu {
  display: grid;
  justify-content: center;
  grid-template-columns: var(--btn-size) calc(var(--btn-size) * 10) var(--btn-size);
  grid-template-rows: repeat(3, var(--btn-size)) 16px var(--btn-size);
  grid-template-areas:
    '. 		first 		.'
    '. 		second 		.'
    '. 		third 		.'
    '.		.					.'
    'lang fourth 		.'
  ;
  grid-gap: 8px;
}

.menu :nth-child(1) {grid-area: first;}
.menu :nth-child(2) {grid-area: second;}
.menu :nth-child(3) {grid-area: third;}
.menu .double {grid-area: fourth;}
.menu .double :nth-child(1) {grid-area: left;}
.menu .double :nth-child(2) {grid-area: right;}
.menu :nth-child(5) {grid-area: lang;}

.double {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'left right';
  grid-gap: 8px;
}

.menu-register {
  display: grid;
  justify-content: center;
  grid-template-columns: var(--btn-size) calc(var(--btn-size) * 10) var(--btn-size);
  grid-template-rows: repeat(6, var(--btn-size)) 16px var(--btn-size);
  grid-template-areas:
  '. 		first 		.'
  '. 		second 		.'
  '. 		third 		.'
  '. 		fourth 		.'
  '. 		fifth 		.'
  '.    sixth 		.'
;
grid-gap: 8px;
}

.menu-register :nth-child(1) {grid-area: first;}
.menu-register :nth-child(2) {grid-area: second;}
.menu-register :nth-child(3) {grid-area: third;}
.menu-register :nth-child(4) {grid-area: fourth;}
.menu-register :nth-child(5) {grid-area: fifth;}
.menu-register .double {grid-area: sixth;}
.menu-register .double :nth-child(1) {grid-area: left;}
.menu-register .double :nth-child(2) {grid-area: right;}

.menu-dashboard {
  display: grid;
  justify-content: center;
  grid-template-columns: var(--btn-size) calc(var(--btn-size) * 10) var(--btn-size);
  grid-template-rows: repeat(2, var(--btn-size)) 16px var(--btn-size);
  grid-template-areas:
  '. 		first 		.'
  '. 		second 		.'
  '.		.					.'
  'lang fourth 		.'
;
grid-gap: 8px;
}
.menu-dashboard .server-status-btn {grid-area: first;}
.menu-dashboard .double {grid-area: second;}
.menu-dashboard .double :nth-child(1) {grid-area: left;}
.menu-dashboard .double :nth-child(2) {grid-area: right;}
.menu-dashboard .lang {grid-area: lang;}

.title {
  align-items: center;
  box-shadow: var(--color-inset-shadow);
  color: var(--color-default);
  display: flex;
  font: inherit;
  height: 100%;
  justify-content: center;
  padding-bottom: .3em;
  text-align: center;
  text-shadow: var(--text-shadow);
  width: 100%;
  text-decoration: none;
  border: none;
  background-color: var(--input-bg);
}

.title:hover {
  background-color: var(--background-color-hover);
  color: var(--color-hover);
}

.title:active {
  box-shadow: var(--color-active-shadow);
}

.item {
  background: var(--input-bg);
  border: 2px solid #000;
  cursor: pointer;
  image-rendering: pixelated;
  overflow: hidden;
}

.item.lang img {
  width: 26px;
  height: 26px;
}

.item.lang .title {
  padding-bottom: 0;
}

.blinking::placeholder {
    animation: blinkText 1s infinite;
}

@keyframes blinkText {
    50% { opacity: 0; }
}

.success-message {
  color: lightgreen;
}

.error-message {
  color: red;
}