@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: 'Minecraft';
	src: url('../fonts/Minecraft-Regular.ttf') format('truetype');
}

body {
	font-family: 'Minecraft', Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  background-image: url('../images/dirt-background.png');
  background-position: center;
  position: relative;
}

.mc-menu {
  --btn-size: 30pt;
  display: grid;
  grid-template-columns: var(--btn-size) calc(var(--btn-size) * 10) var(--btn-size);
  grid-template-rows: repeat(3, var(--btn-size)) 16px var(--btn-size);
  grid-template-areas:
    '. 		first 		.'
    '. 		second 		.'
    '. 		third 		.'
    '.		.					.'
    'lang fourth 		.'
  ;
  grid-gap: 8px;
}

.mc-menu .mc-button:nth-child(1) {
  grid-area: first;
}

.mc-menu .mc-button:nth-child(2) {
  grid-area: second;
}

.mc-menu .mc-button:nth-child(3) {
  grid-area: third;
}

.mc-menu .double {
  grid-area: fourth;
}

.mc-menu .double .mc-button:nth-child(1) {
  grid-area: left;
}

.mc-menu .double .mc-button:nth-child(2) {
  grid-area: right;
}

.mc-menu .mc-button:nth-child(5) {
  grid-area: lang;
}

.mc-menu .double {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'left right';
  grid-gap: 8px;
}

.mc-button {
  height: var(--btn-size);
  width: calc(var(--btn-size) * 10);
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
}

.mc-button:hover .title {
  background-color: rgba(100, 100, 255, .45);
  text-shadow: 2px 2px #202013CC;
  color: #FFFFA0;
}

.mc-button:active .title {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.title {
  width: 100%;
  height: 100%;
  padding-bottom: .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DDD;
  text-shadow: 2px 2px #000A;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}

.mc-button.full {
  width: 100%;
  height: 100%;
}

.mc-button.lang img {
  width: 26px;
  height: 26px;
}

.mc-button.lang .title {
  padding-bottom: 0;
}

.mc-input-wrapper {
  position: relative;
  height: var(--btn-size);
  width: calc(var(--btn-size) * 10);
}

.mc-input {
  height: 100%;
  width: 100%;
  font: inherit;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
  image-rendering: pixelated;
  border: none;
  color: #DDD;
  text-shadow: 2px 2px #000A;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  padding-bottom: .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.mc-input:hover {
  background-color: rgba(100, 100, 255, .45);
  text-shadow: 2px 2px #202013CC;
  color: #FFFFA0;
}

.mc-input:active,
.mc-input:focus {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.mc-input-wrapper.full,
.mc-input.full {
  width: 100%;
  height: 100%;
}

.mc-input[type="text"]::-webkit-input-placeholder {
  color: #DDD;
  text-shadow: 2px 2px #000A;
}

.mc-input[type="text"]::-moz-placeholder {
  color: #DDD;
  text-shadow: 2px 2px #000A;
}

.mc-input[type="text"]:-ms-input-placeholder {
  color: #DDD;
  text-shadow: 2px 2px #000A;
}

.mc-input[type="text"]::placeholder {
  color: #DDD;
  text-shadow: 2px 2px #000A;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}