.subtitle {
  text-align: center;
  color: #FFFF00;
  font-size: 25px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.465);
  position: relative;
  left: 210px;
  bottom: 65px;
  animation: subtitle 0.25s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes subtitle {
  0% {
    transform: scale(0.95) rotate(-20deg);
  }
  100% {
    transform: scale(1) rotate(-20deg);
  }
}
