table {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  max-height: 300px;
  overflow-y: auto;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 16px;
}

button {

  cursor: pointer;
}

button:hover {
  color: red;
}

th, td {
  padding: 0 8px;
  word-wrap: break-word;
  height: 30px;
}

td:nth-child(1):hover {
  color: #FFFFA0;
}

td:nth-child(3), td:nth-child(4) {
  text-align: center;
}

@media (max-width: 600px) {
  table {
    font-size: 14px;
  }
}

#tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  padding: 8px;
}
