.App {
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}

.AppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}