name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  backend-job:
    name: ExpressJS Backend 
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Node.js v20
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: "npm"
        cache-dependency-path: 'backend/package-lock.json'

    - name: Cache npm dependencies (Backend)
      uses: actions/cache@v3
      with:
        path: backend/node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('backend/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install Dependencies
      run: npm ci
      working-directory: ./backend

    - name: Prisma Generate
      run: npx prisma generate
      working-directory: ./backend

    - name: Build
      run: npm run build
      working-directory: ./backend

    - name: Lint
      run: npm run lint
      working-directory: ./backend

    - name: Run Tests
      run: npm test
      working-directory: ./backend


  frontend-job:
    name: ReactJS Frontend
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Node.js v20
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: "npm"
        cache-dependency-path: 'frontend/package-lock.json'

    - name: Cache npm dependencies (Backend)
      uses: actions/cache@v3
      with:
        path: backend/node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('frontend/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
      
    - name: Install Dependencies
      run: npm ci
      working-directory: ./frontend

    - name: Build
      run: npm run build
      working-directory: ./frontend

    - name: Lint
      run: npm run lint
      working-directory: ./frontend

    - name: Run Tests
      run: npm test
      working-directory: ./frontend